<mtapp:setting
    id="enable_superpage"
    label="<__trans phrase="Enable Super Page">"
    hint="<__trans phrase="If selected, pages on this blog will have the option of being designated as a super page.">"
    show_hint="1">
    <label><input type="checkbox" name="enable_superpage" id="enable_superpage" value="1"<mt:if name="enable_superpage"> checked="checked"</mt:if> /> Enable Super Pages for this blog</label>
</mtapp:setting>
